{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coffee Mafia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'coffee_maf/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

     {% block extra_js %}{% endblock %}

<script src="{% static 'coffee_maf/js/main.js' %}"></script>
</body>
</html>