{% extends 'base.html' %}
{% load static %}

{% block title %} Products Coffee-mafia {% endblock %}

{% block extra_css %}
     <link rel="stylesheet" href="{% static 'coffee_maf/css/products.css' %}?v=1.1">
{% endblock %}

{% block content %}
        <div class="products-container">
            <ul class="products-menu">
                <li {% if not selected_type_id %}class="active"{% endif %}>
                    <a class="type_product" href="?">Все</a>
                </li>
                {% for type in product_types %}
                <li {% if selected_type_id == type.id %}class="active"{% endif %}>
                    <a class="type_product" href="?type={{ type.id }}">{{ type.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="products-cards">
                 {% for product in products %}
                    <div class="products-card" onclick="openModal('productModal{{ product.id }}')">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        <p>{{ product.title }}</p>
                        <p>{{ product.price }}₽</p>
                    </div>
                <div id="productModal{{ product.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('productModal{{ product.id }}')">&times;</span>
                        <div class="first-box-card">
                            <img src="{{ product.image.url }}" alt="{{ product.title }}"><br>
                            <h3>{{ product.title }} <br> {{ product.price }} ₽</h3>
                        </div>
                        <p>{{ product.volume|linebreaks }}</p><br>
                        <p>{{ product.description|linebreaks }}</p>

                    </div>
                </div>
                {% empty %}
                <p class="none-products_text">Товары не найдены</p>
                {% endfor %}
<!--                <div class="products-card" onclick="openModal('productModal1')">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div id="productModal1" class="modal">-->
<!--                    <div class="modal-content">-->
<!--                        <span class="close" onclick="closeModal('productModal1')">&times;</span>-->
<!--                        <div class="first-box-card">-->
<!--                            <img src="images/product1.png" alt="Перу Эль Робле">-->
<!--                            <h3>Перу Эль Робле <br> 890 ₽/шт</h3>-->
<!--                        </div><br>-->
<!--                        <p><strong>Вес:</strong> 200г</p><br>-->
<!--                        <p>темная слива, черешня, брауни</p><br>-->
<!--                        <p><strong>Характеристики:</strong></p>-->
<!--                         <p>Оценка SCA — 86</p>-->
<!--                         <p>Обработка — натуральная</p>-->
<!--                         <p>Разновидность — catuai</p>-->
<!--                         <p>Обжарка — Светлая - фильтр</p>-->
<!--                         <p>Страна происхождения — Гватемала</p><br>-->
<!--                         <p>Высота: 1500 - 1800 м</p>-->
<!--                         <p>Регион: Пуэбло Нуэво Виньяс</p><br>-->
<!--                         <p>Ферма Финка Эль Чорро, расположенная в муниципалитете Барберена, имеет сельскохозяйственную историю, восходящую к началу 1900-х годов. Сегодня Мариано Вентура, фермер в пятом поколении, оптимизирует методы культивирования и пост-уборочной обработки для улучшения продуктивности и повышения качества кофе, сотрудничая со специалистом по спешлти кофе Раулем Родасом.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
<!--                <div class="products-card">-->
<!--                    <img src="images/product1.png" alt="">-->
<!--                    <p>Перу Эль Робле</p>-->
<!--                    <p>200г</p>-->
<!--                </div>-->
            </div>
        </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'coffee_maf/js/products.js' %}"></script>
{% endblock %}
